html,
body {
  margin: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  background: linear-gradient(
    red,
    #e635ce,
    blue,
    rgb(28, 231, 238),
    rgb(15, 214, 15),
    yellow,
    red
  );
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

