.redDiv {
    background-color:red;
    height: 125px;
    width: 150px;
    padding: 25px;
    margin: 25px;
}
.blueDiv {
    background-color:blue;
    height: 125px;
    width: 150px;
    padding: 25px;
}
.yellowDiv {
    background-color:yellow;
    height: 125px;
    width: 150px;
    padding: 25px;
}
