body{
    background-color: #fafbd3;
    text-align: center;
}

form{
    width: 55%;
    border: 1px solid rgba(0, 0, 0, 0.281);
    background-color: white;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}
.divStart{
    text-align: start;
    padding: 0px;
    margin: 0px;
}

fieldset{
    text-align: start;
    border: 1px solid rgba(0, 0, 0, 0.281);
    padding: 10px;
    margin: 10px;
}
.btnSend{
    background-color: red;
    color: white;
    outline:none;
    border: 0px;
    padding: 5px;
}